body {
  font-family: 'Open Sans', sans-serif;
}
#cash-register {
  max-width: 595px;
  background: #D8D8D8;
  padding: 20px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
}
#display {
  width: relative;
  background: #fff;
  border-radius: 30px;
  display: block;
  padding: 15px;
  margin: 0 auto;
  text-align: right;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
}
#numbers {
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 60px;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  border: none;
}
button.number, button.operator {
  width: 60px;
}
button.number {
  margin: 0 10px 0 0;
}
.row {
  padding: 5px;
}
#operators {
  vertical-align: top;
  display: inline-block;
  margin: 20px;
}
button.operator {
  display: block;
  margin: 10px;
}
#register-functions {
  vertical-align: top;
  display: inline-block;
  padding-top: 20px;
}
button.register-function {
  background: #B8E986;
  color: #fff;
  display: block;
  width: 230px;
  text-transform: uppercase;
  margin: 10px 0 ;
}
button.register-function:first-child{
  background: #9B9B9B;
}